// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list-title {
  text-align: center;
}
.edit-list-title {
  text-align: center;
}

.bottom-links {
  text-align: center;
}
.form.container {
  text-align: center;
}
